[Unit]
Description=Utility warning teknisk on Slack about silence on the radio stream

[Service]
Type=simple
User=silence-notifier
WorkingDirectory=/path/to/silence-notifier
ExecStart=/bin/sh -c ". venv/bin/activate; rtmbot"
Restart=on-failure
