[Unit]
Description=Utility warning teknisk on Slack about silence on the radio stream

[Service]
Type=simple
User=liquidsoap
ExecStart=/bin/sh -c "cd <path>; . venv/bin/activate; rtmbot"
Restart=always
